# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables (ห้ามหลุดเข้าไปใน Image เด็ดขาด)
.env
.env.*

# Git
.git
.gitignore

# Debug & Logs
npm-debug.log*
yarn-debug.log*
logs/

# OS specific files
.DS_Store
Thumbs.db
